In [ ]:
import pandas as pd

df_csv = pd.read_csv('D:\Github\pandas_python_learn\Pandas tutorial_241226\pandas-master-pokemon\pokemon_data.csv')

In [3]:
df_csv['Total'] = df_csv.iloc[:, 4:10].sum(axis=1)

df_csv.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [4]:
cols = list(df_csv.columns)
df_csv = df_csv[cols[0:4] + [cols[-1]] + cols[4:12]]

df_csv.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

# Filtering Data

一个等号=和两个等号==的区别:
1. 一个等号=用于赋值，表示将一个值赋给一个变量
2. 两个等号==用于比较两个值是否相等
3. 甚至有三个等号===用于比较两个值是否相等，并且类型也要相同

In [5]:
df_csv.loc[df_csv['Type 1'] == 'Water']

df_csv.loc[(df_csv['Type 1'] == 'Water') & (df_csv['Type 2'] == 'Poison')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
78,72,Tentacool,Water,Poison,335,40,40,35,50,100,70,1,False
79,73,Tentacruel,Water,Poison,515,80,70,65,80,120,100,1,False
227,211,Qwilfish,Water,Poison,430,65,95,75,55,55,85,2,False

In [6]:
df_csv.loc[(df_csv['Type 1'] == 'Water') | (df_csv['Type 2'] == 'Poison')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
726,658,Greninja,Water,Dark,530,72,95,67,103,71,122,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [7]:
df_csv.loc[(df_csv['Type 1'] == 'Water') & (df_csv['HP'] >= 100)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
142,131,Lapras,Water,Ice,535,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,1,False
185,171,Lanturn,Water,Electric,460,125,58,58,76,76,67,2,False
199,184,Azumarill,Water,Fairy,420,100,50,80,60,80,50,2,False
264,245,Suicune,Water,NaN,580,100,75,115,90,115,85,2,True
282,260,Swampert,Water,Ground,535,100,110,90,85,90,60,3,False
283,260,SwampertMega Swampert,Water,Ground,635,100,150,110,95,110,70,3,False
350,320,Wailmer,Water,NaN,400,130,70,35,70,35,60,3,False
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False
372,340,Whiscash,Water,Ground,468,110,78,73,76,71,60,3,False
404,369,Relicanth,Water,Rock,485,100,90,130,45,65,55,3,False
421,382,Kyogre,Water,NaN,670,100,100,90,150,140,90,3,True
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True
470,423,Gastrodon,Water,Ground,475,111,83,68,92,82,39,4,False
548,490,Manaphy,Water,NaN,600,100,100,100,100,100,100,4,False
597,537,Seismitoad,Water,Ground,509,105,95,75,85,75,74,5,False
654,593,Jellicent,Water,Ghost,480,100,60,70,85,105,60,5,False
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False

一般在python中都是用and或者or，但pandas库中的习惯一般是用&替代and，用|替代or。

碰到and或者or链接的多个比较值等式，记得将每个独立的等式用()框起来。

In [8]:
new_df_csv = df_csv.loc[(df_csv['Type 1'] == 'Water') & (df_csv['HP'] >= 100)]

new_df_csv.to_csv(r'D:\Github\pandas_python_learn\Pandas tutorial_241226\pandas-master-pokemon\filtered-WaterHighHP.csv', index=False)

注意正斜杠，反斜杠以及双反斜杠的用法。
1. 正斜杠：/
2. 反斜杠：\ 单个反斜杠 \f 会被解释为转义字符。用r前缀或用正斜杠or双反斜杠，可以避免转义问题。
3. 双反斜杠：\\

如果担心斜杠问题，可以在'路径'前加一个r，就变成了原始字符串，就没有这样的问题了。这是最简单的解决方式，或者用正斜或者双反。
从：('D:\Github\pandas_python_learn\Pandas tutorial_241226\pandas-master-pokemon\filtered-WaterHighHP.csv')变成(r'D:\Github\pandas_python_learn\Pandas tutorial_241226\pandas-master-pokemon\filtered-WaterHighHP.csv')

但当执行上上条的df_csv.loc函数时，可以发现新的index和旧的index不一样，但两者会同时显示（旧的直接变成了index列），同时还有数据原本的序号。这会造成混乱，需要对index进行reset。

In [9]:
new_df_csv.reset_index(drop=True)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,131,Lapras,Water,Ice,535,130,85,80,85,95,60,1,False
1,134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,1,False
2,171,Lanturn,Water,Electric,460,125,58,58,76,76,67,2,False
3,184,Azumarill,Water,Fairy,420,100,50,80,60,80,50,2,False
4,245,Suicune,Water,NaN,580,100,75,115,90,115,85,2,True
5,260,Swampert,Water,Ground,535,100,110,90,85,90,60,3,False
6,260,SwampertMega Swampert,Water,Ground,635,100,150,110,95,110,70,3,False
7,320,Wailmer,Water,NaN,400,130,70,35,70,35,60,3,False
8,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False
9,340,Whiscash,Water,Ground,468,110,78,73,76,71,60,3,False
10,369,Relicanth,Water,Rock,485,100,90,130,45,65,55,3,False
11,382,Kyogre,Water,NaN,670,100,100,90,150,140,90,3,True
12,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True
13,423,Gastrodon,Water,Ground,475,111,83,68,92,82,39,4,False
14,490,Manaphy,Water,NaN,600,100,100,100,100,100,100,4,False
15,537,Seismitoad,Water,Ground,509,105,95,75,85,75,74,5,False
16,593,Jellicent,Water,Ghost,480,100,60,70,85,105,60,5,False
17,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False

keith还在drop后面加了个inplace=True，也就是：
new_df_csv.reset_index(drop=True, inplace=True)
这里没加因为怕这里改好的数据后面会用。使用情况：
1. inplace=True说明是直接在原数据上修改，不返回新的副本，所以操作完还需要print才能看到结果；而inplace=False（也就是默认）是马上返回修改后的新副本，原数据不变。
2. 所以需要保留原始数据时（比如链式操作），不使用inplace，需要对内存进行优化的时候再使用。

In [10]:
df_csv.loc[df_csv['Name'].str.contains('Mega')]
# 筛选出Name中带有'Mega'字符串的数据

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False
87,80,SlowbroMega Slowbro,Water,Psychic,590,95,75,180,130,80,30,1,False
102,94,GengarMega Gengar,Ghost,Poison,600,60,65,80,170,95,130,1,False
124,115,KangaskhanMega Kangaskhan,Normal,NaN,590,105,125,100,60,100,100,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
141,130,GyaradosMega Gyarados,Water,Dark,640,95,155,109,70,130,81,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
168,154,Meganium,Grass,NaN,525,80,82,100,83,100,80,2,False
196,181,AmpharosMega Ampharos,Electric,Dragon,610,90,95,105,165,110,45,2,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
229,212,ScizorMega Scizor,Bug,Steel,600,70,150,140,65,100,75,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
248,229,HoundoomMega Houndoom,Dark,Fire,600,75,90,90,140,90,115,2,False
268,248,TyranitarMega Tyranitar,Rock,Dark,700,100,164,150,95,120,71,2,False
275,254,SceptileMega Sceptile,Grass,Dragon,630,70,110,75,145,85,145,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False
283,260,SwampertMega Swampert,Water,Ground,635,100,150,110,95,110,70,3,False
306,282,GardevoirMega Gardevoir,Psychic,Fairy,618,68,85,65,165,135,100,3,False
327,302,SableyeMega Sableye,Dark,Ghost,480,50,85,125,85,115,20,3,False
329,303,MawileMega Mawile,Steel,Fairy,480,50,105,125,55,95,50,3,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
336,308,MedichamMega Medicham,Fighting,Psychic,510,60,100,85,80,85,100,3,False
339,310,ManectricMega Manectric,Electric,NaN,575,70,75,80,135,80,135,3,False
349,319,SharpedoMega Sharpedo,Water,Dark,560,70,140,70,110,65,105,3,False
354,323,CameruptMega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,False
366,334,AltariaMega Altaria,Dragon,Fairy,590,75,110,110,110,105,80,3,False
387,354,BanetteMega Banette,Ghost,NaN,555,64,165,75,93,83,75,3,False
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False
397,362,GlalieMega Glalie,Ice,NaN,580,80,120,80,120,80,100,3,False
409,373,SalamenceMega Salamence,Dragon,Flying,700,95,145,130,120,90,120,3,False
413,376,MetagrossMega Metagross,Steel,Psychic,700,80,145,150,105,110,110,3,False
418,380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True
420,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
476,428,LopunnyMega Lopunny,Normal,Fighting,580,65,136,94,54,96,135,4,False
494,445,GarchompMega Garchomp,Dragon,Ground,700,108,170,115,120,95,92,4,False
498,448,LucarioMega Lucario,Fighting,Steel,625,70,145,88,140,70,112,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
527,475,GalladeMega Gallade,Psychic,Fighting,618,68,165,95,65,115,110,4,False
591,531,AudinoMega Audino,Normal,Fairy,545,103,60,126,80,126,50,5,False
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True

In [11]:
df_csv.loc[~df_csv['Name'].str.contains('Mega')]
# 注意波浪号~的使用，表示取反，也就是不含'Mega'的数据

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

另外，根据Jupyter Notebook的交互机制，有些函数运行后可能会返回结果，这并不是真正的结果！并不是实际运行中会打印出来的“显性”结果！

这里显示只是因为Jupyter的特性，会自动显示每个cell最后一个表达式的返回值。

如果要确保看到结果，一定要打print，这才是“显性”结果。

In [12]:
df_csv.loc[df_csv['Type 1'].str.contains('Fire|Grass')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

注意and和or在pandas中的使用。

# Conditional Changes

In [13]:
df_csv.loc[df_csv['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'

df_csv.head(10)

df_csv.loc[df_csv['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'

这段是把Type 1中原本的Fire改成Flamer，后面又把Flamer改成Fire。以下是把所有火系宝可梦的Legendary都改成True的一段。

In [14]:
df_csv.loc[df_csv['Type 1'] == 'Fire', 'Legendary'] = True
# 记住 = 是赋值，而 == 是判断

df = pd.read_csv('modified-1.csv') # 这里是对表格数据重置

In [15]:
df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = 'TEST VALUE'
# 可以对多列数据进行相同赋值

df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = ['Test 1', 'Test 2']
# 也可以对一定条件下的，多列数据进行不同赋值
# 注意[]的使用，第一个[]是对条件进行筛选，第二个[]是对列进行筛选

df = pd.read_csv('modified-1.csv')

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_4972\3500003151.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'TEST VALUE' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = 'TEST VALUE'
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_4972\3500003151.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'TEST VALUE' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = 'TEST VALUE'

# Aggregate Statistics (Groupby)

根据Type 1而对所有pokemon分组，并查看每个组别的平均体力和攻击。

In [16]:
df = pd.read_csv('modified-1.csv')

df.groupby(['Type 1']).mean(numeric_only=True)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fire,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714

这里mean里面记得加一个numeric_only=True，限定只处理数值列。不然可能会报错。

In [17]:
df.groupby(['Type 1']).mean(numeric_only=True).sort_values('Speed', ascending=False)
# 对不同属性的宝可梦根据不同值进行降序排列，高的在前面。

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Fire,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824

In [18]:
df.groupby(['Type 1']).count()

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112,112

groupby中count函数的使用：
按Type 1，也就是元素来进行分类，然后来看每列中每个对应元素都占了多少个。

In [19]:
df.groupby('Type 1').size()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
dtype: int64

size和count的区别：

1. count是对每一列都进行单独计数；但size是只返回一个标量值，因此只运用于某一特定列及其元素个数统计。
2. count是返回组中非NA/null值的数量，size则是返回组中的总元素个数。因此size计算速度更快，更节约性能。
3. 因此size适合只需要知道组的大小，count适合知道每列中非空值的数量。
4. size函数可以进行多列数据的分组统计，但是count函数只能对单列数据进行统计，比如下文。

In [21]:
df.groupby(['Type 1', 'Type 2']).size()
# 这里Type 2是Type 1的子属性，并且同样也是按字母进行排序的

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Length: 136, dtype: int64